<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
    <script src="vue.global.js"></script>
  </head>
  <body>
    <header>
      <h2>Vue JS 3 Practice</h2>
    </header>

    <div id="app">
      <h3>About Me</h3>

      <!-- using a varibale -->
      <!-- <table>
          <tr v-for="value in aboutMe">
          <td>{{ value }}</td>
          </tr>
      </table> -->

      <!-- using two varibale -->
      <!-- <table>
          <tr v-for="(value, key) in aboutMe">
          <td>{{ key }} : {{ value }}</td>
          </tr>
      </table> -->

      <!-- using three varibale -->
      <table>
        <tr v-for="(value, key, i) in aboutMe">
          <td> <b>{{ i+1 }}. {{ key }} :</b> {{ value }}</td>
        </tr>
      </table>

      <!-- Iterating loop for a certain nubmer -->
      <div>
        <p v-for="i in 10">{{ i }}</p>
      </div>
      <br>

      <!-- withoute using html template -->
      <div>
        <template v-for="skill in skills" :key="skill.name">
          {{ skill.name }},
        </template>
      </div>
    </div>

    
    <script src="app.js"></script>
  </body>
</html>
